{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="{% static 'images/icon/favicon.png'%}">
	<title>Login SignUp</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/loginStyle.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- It will redirect to the Home Page after submitting the form -->
  <script>
  $(document).ready(function(){
    $("form").submit(function(){
      alert("Great Job !");
    });
  });
  </script>
</head>
<body>
		<div class="form-box">
			<div class="button-box">
				<div id="btn"></div>
				<button type="button" class="toggle-btn" id="log" onclick="login()" style="color: #fff;">Log In</button>
				<button type="button" class="toggle-btn" id="reg" onclick="register()">Register</button>
			</div>
			<div class="social-icons">
				<img src="{% static 'images/icon/fb2.png'%}">
				<img src="{% static 'images/icon/insta2.png'%}">
				<img src="{% static 'images/icon/tt2.png'%}">
			</div>

			<!-- Login Form -->
			<form id="login" method="post" class="input-group" action="#">
                {% csrf_token %}
				<div class="inp">
					<img src="{% static 'images/icon/user.png'%}">
                    {{ form.username }}
				</div>
				<div class="inp">
					<img src="{% static 'images/icon/password.png'%}">
                    {{ form.password }}
				</div>
				<input type="checkbox" class="check-box">Remember Password
				<button type="submit" class="submit-btn">Log In</button>
			</form>


			<div class="other" id="other">
				<div class="instead">
					<h3>or</h3>
				</div>
				<button class="connect" onclick="google()">
					<img src="{% static 'images/icon/google.png'%}"><span>Sign in with Google</span>
				</button>
			</div>

			<!-- Registration Form -->
			<form id="register" method="post" class="input-group">
                {% csrf_token %}
				<input type="text" name="username" class="input-field" placeholder="Full Name" required="required">
				<input type="email" name="email" class="input-field" placeholder="Email Address" required="required">
				<input type="password" n class="input-field" placeholder="Create Password" name="password1" required="required">
				<input type="password" class="input-field" placeholder="Confirm Password" name="password2" required="required">
				<input type="checkbox" class="check-box" id="chkAgree" onclick="goFurther()">I agree to the Terms & Conditions
				<button type="submit" id="btnSubmit" class="submit-btn reg-btn">Register</button>
			</form>
		</div>
		<script type="text/javascript" src="{% static 'js/script.js'%}"></script>
</body>
</html>